:root {
    --Main: #005d69;
    --Secondary: #008fa8;
    --Tertiary: #017a8a;
    --Back: #140e0f;
    --Text: #fff;
    --SText: #dbc8cb;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    background-color: var(--Back);
    width: 90%;
    min-width: 300px;
    margin: 0 auto 0 auto;
    color: var(--Text);
}

body {
    background-color: var(--Main);
    height: 100%;
    padding: 10px;
}

/*heading*/
.logo {
    width: 20%;
    padding-right: 10px;
}

.heading,
.logo {
    display: inline-block;
    vertical-align: middle;
}

.name,
.description {
    margin: 5px;
}

.name {
    color: var(--Text);
}

.description {
    color: var(--SText);
}

/*navigation*/
nav {
    background-color: var(--Secondary);
}

nav>div {
    list-style: none;
    margin: 0 auto 0 auto;
    max-width: fit-content;
    padding: 0;
    user-select: none;
}

nav>div>button {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    color: var(--Text);
    font-size: 1.5rem;
    background-color: var(--Tertiary);
    border: solid 1px var(--Main);
    margin: 1px;
    cursor: pointer;
}

nav>div>button:hover{
    background-color: var(--Main);
}

a {
    color: var(--SText);
}

/*table*/
tr>th {
    border: 2px solid var(--SText);
    background: var(--Secondary);
    padding: 0.3rem;
}

tr>td {
    border: 1px solid var(--SText);
    padding: 0.3rem;
}

table {
    border-collapse: collapse;
    border: 2px solid var(--SText);
}

/*details*/
details {
    background-color: #008fa8;
    /*(--Second);*/
    padding: 0.6rem 0.6rem 0;
    border: solid 1px #005d69;
}

summary {
    user-select: none;
    cursor: pointer;
    padding-bottom: 0.6rem;
}

details>div {
    background-color: #005d69;
    padding: 1rem;
    margin-bottom: 0.6rem;
}

details > div > h4 {
    margin: 0;
}

/*showing words*/
bold {
    font-weight: 600;
}

/*showing sentence*/
.words {
    font-size: 20px;
    display: flex;
    flex-direction: row;
}

.word {
    padding: 0 auto;
    text-align: center;
    border: var(--Secondary) 1px solid;
    background-color: var(--Secondary);
    cursor: pointer;
    user-select: none;
    flex-grow: 1;
    margin-right: 0.5rem;
}

/**search**/
search{
    display: block;
    width: fit-content;
    margin: 5px auto 0 auto;
}
input[type=search]{
    border:var(--Secondary) 1px solid;
    background-color: var(--Tertiary);
    
}
input[type=search]::placeholder{
    color:var(--SText);
}
input[type=submit]{
    background-color: var(--Tertiary);
    border: 0px;
    height: 19px;
}